<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/patient/appointment" method="post">
        <input type="text" name="firstName">
        <input type="text" name="phoneNumber">
        <input type="text" name="issue">
        <select name="department" id="">
            <option value="Others">Others</option>
            <option value="Cardiovascular Surgery">Cardiovascular Surgery</option>
            <option value="Neuroscience">Neuroscience</option>
            <option value="Oncology">Oncology</option>
            <option value="Modern Pediatrics">Modern Pediatrics</option>
        </select>
        <button>Submit</button>
    </form>
</body>

</html>